
@{
    ViewBag.Title = "Učenici";
}

<nav class="navbar navbar-default navCostum">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logoNav">eDnevnik</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navItem" href="/Student/Index"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                <li><a class="navItem" href="/Student/Predmeti"><span class="glyphicon glyphicon-user"></span> Predmeti</a></li>
                <li><a class="navItem" href="/Student/Izostanci"><span class="glyphicon glyphicon-user"></span> Izostanci</a></li>
                <li><a class="navItem" href="#"><span class="glyphicon glyphicon-log-in"></span> Odjava</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="profilData">
    <h1>Profil</h1>
    <br />
    <h3>Ime:</h3>
    <h3>Prezime:</h3>
    <h3>Datum rođenja:</h3>
    <h3>OIB:</h3>
    <h3>Adresa:</h3>
    <h3>Mjesto:</h3>
    <h3>e-mail:</h3>
</div>

