
@{
    ViewBag.Title = "Izostanci";
}

@Html.Partial("_StudentNavPartial");
<div class="table-responsive">
    <table class="table table-bordered absanceTable">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Razlog</th>
                <th>Opravdanost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

