
@{
    ViewBag.Title = "Izostanci";
}

<nav class="navbar navbar-default navCostum">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logoNav">eDnevnik</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navItem" href="student.html"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                <li><a class="navItem" href="predmeti.html"><span class="glyphicon glyphicon-user"></span> Predmeti</a></li>
                <li><a class="navItem" href="izostanci.html"><span class="glyphicon glyphicon-user"></span> Izostanci</a></li>
                <li><a class="navItem" href="#"><span class="glyphicon glyphicon-log-in"></span> Odjava</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="table-responsive">
    <table class="table table-bordered absanceTable">
        <thead>
            <tr>
                <th>Datum</th>
                <th>Razlog</th>
                <th>Opravdanost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row"></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>

