
@{
    ViewBag.Title = "Predmeti";
}

<nav class="navbar navbar-default navCostum">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logoNav">eDnevnik</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="navItem" href="student.html"><span class="glyphicon glyphicon-user"></span> Profil</a></li>
                <li><a class="navItem" href="predmeti.html"><span class="glyphicon glyphicon-user"></span> Predmeti</a></li>
                <li><a class="navItem" href="izostanci.html"><span class="glyphicon glyphicon-user"></span> Izostanci</a></li>
                <li><a class="navItem" href="#"><span class="glyphicon glyphicon-log-in"></span> Odjava</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="accordion" class="positionAccordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <a class="collapsed subjectRow" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0">
                    MATEMATIKA(prof. Harcet)
                </h5>
            </div>
        </a>

        <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard">Kategorija</th>
                                    <th class="thCard">IX</th>
                                    <th class="thCard">X</th>
                                    <th class="thCard">XI</th>
                                    <th class="thCard">XII</th>
                                    <th class="thCard">I</th>
                                    <th class="thCard">II</th>
                                    <th class="thCard">III</th>
                                    <th class="thCard">IV</th>
                                    <th class="thCard">V</th>
                                    <th class="thCard">VI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Pismeni</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Usmeni</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Zadaće</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Zalaganje</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard" colspan="2">Bilješke</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Datum</th>
                                    <th class="thCard">Zapis</th>
                                </tr>
                                <tr>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="text" class="tableInput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <a class="collapsed subjectRow" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0">
                    HRVATSKI(prof. Lončar)
                </h5>
            </div>
        </a>
        <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard">Kategorija</th>
                                    <th class="thCard">IX</th>
                                    <th class="thCard">X</th>
                                    <th class="thCard">XI</th>
                                    <th class="thCard">XII</th>
                                    <th class="thCard">I</th>
                                    <th class="thCard">II</th>
                                    <th class="thCard">III</th>
                                    <th class="thCard">IV</th>
                                    <th class="thCard">V</th>
                                    <th class="thCard">VI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Pismeni</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Usmeni</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Zadaće</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Zalaganje</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard" colspan="2">Bilješke</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Datum</th>
                                    <th class="thCard">Zapis</th>
                                </tr>
                                <tr>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="text" class="tableInput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <a class="collapsed subjectRow" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0">
                    ENGLESKI(prof. Matovinović)
                </h5>
            </div>
        </a>
        <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="card-block">
                <div class="container">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard">Kategorija</th>
                                    <th class="thCard">IX</th>
                                    <th class="thCard">X</th>
                                    <th class="thCard">XI</th>
                                    <th class="thCard">XII</th>
                                    <th class="thCard">I</th>
                                    <th class="thCard">II</th>
                                    <th class="thCard">III</th>
                                    <th class="thCard">IV</th>
                                    <th class="thCard">V</th>
                                    <th class="thCard">VI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Pismeni</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Usmeni</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Zadaće</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <th class="thCard" scope="row">Zalaganje</th>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="thCard" colspan="2">Bilješke</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th class="thCard" scope="row">Datum</th>
                                    <th class="thCard">Zapis</th>
                                </tr>
                                <tr>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                </tr>
                                <tr>
                                    <td><input type="number" min="1" max="5" class="tableInput" /></td>
                                    <td><input type="text" class="tableInput" /></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

