
@{
    ViewBag.Title = "Index";
}

<div class="classContainer">

    @if (ViewBag.razredi.Count == 0)
    {
        <h1> Nažalost nemate ni jedan razred. Obratite se administrator! </h1>
        <a href="/Autorizacija/Logout">
            <div class="classItem">Odjavite se</div>
        </a>
    }

    @for (int i = 0; i < ViewBag.razredi.Count; i++)
            {


        <a href="@Url.Action("Predmeti", "Profesor", new { idRazred = @ViewBag.razredi[i].idRazred })">
            <div class="classItem">@ViewBag.razredi[i].naziv</div>
        </a>

    }
</div>

