
@{
    ViewBag.Title = "Index";
}

<div class="classContainer">

    @if (ViewBag.profesor.evidencijaNastave.Count == 0)
    {
        <h1> Nažalost nemate ni jedan razred. Obratite se administrator! </h1>
        <a href="/Autorizacija/Logout">
            <div class="classItem">Odjavite se</div>
        </a>
    }

    @for (int i = 0; i < ViewBag.profesor.evidencijaNastave.Count; i++)
            {


        <a href="@Url.Action("Predmeti", "Profesor", new { idRazred = @ViewBag.profesor.evidencijaNastave[i].razred.idRazred })">
            <div class="classItem">@ViewBag.profesor.evidencijaNastave[i].razred.naziv</div>
        </a>

    }
</div>

