
@{
    ViewBag.Title = "Index";
}

<div class="classContainer">
    
    @for (int i = 0; i < ViewBag.profesor.evidencijaNastave.Count; i++)
    {

        @:
            <a href="@Url.Action("Predmeti", "Profesor", new { idRazred = @ViewBag.profesor.evidencijaNastave[i].razred.idRazred })">
            <div class="classItem">@ViewBag.profesor.evidencijaNastave[i].razred.naziv</div> 
            </a>
         
     }
</div>

