
@{
    ViewBag.Title = "Predmeti";
}

<div class="classContainer">
    <h1>Za koji predmet u odabranom razredu želite prikaz</h1>
    <div class="classItem orangeButton">Matematika</div>
    <div class="classItem orangeButton">Engleski</div>
    <div class="classItem orangeButton">Hrvatski</div>
</div>

