
@{
    ViewBag.Title = "Predmet";
}

<div class="classContainer">
    <h1>Za koji predmet u odabranom razredu želite prikaz</h1>

    @for (int i = 0; i < ViewBag.evidencija.Count; i++)
    {
        
        @:
        <a href="@Url.Action("Popis", "Profesor", new { idPredmet = @ViewBag.evidencija[i].predmet.idPredmet, idRazred = @ViewBag.idRazred })">
            <div class="classItem orangeButton">@ViewBag.evidencija[i].predmet.naziv</div>
        </a>

    }
</div>

