
@{
    ViewBag.Title = "Profil";
}

@Html.Partial("_ProfesorNavPartial")
<div class="profilData">
    <h1>Profil</h1>
    <br />
    <h3>Ime:</h3>
    <h3>Prezime:</h3>
    <h3>Datum rođenja:</h3>
    <h3>OIB:</h3>
    <h3>Adresa:</h3>
    <h3>Mjesto:</h3>
    <h3>e-mail:</h3>
</div>

