<div class="loginContainer">
    <div class="panelDiv">
        <h1>Dobrodošli u <span class="logo">eDnevnik</span></h1>
        <br />
        <div class="loginFlow">
            <h3 class="loginSubtitle">Prijava</h3>
            <form method="post" action="/Home/Login">
                <input class="formInput" name="username" type="text"
                       placeholder="Korisničko ime" /><br />
                <input class="formInput" name="password" type="password"
                       placeholder="Lozinka" /><br />
                <input class="formButton" type="submit" value="Prijava" />
            </form>
        </div>
    </div>
</div>
