
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_AdminNavPartial")

<div class="registerContainer">
    <h2 class="loginSubtitle" style="color: orange">Registracija novog korisnika</h2>
    <form method="post" action="">
        <input class="formInput" name="Email" type="text"
               placeholder="E-mail" /><br />
        <input class="formInput" name="Password" type="password"
               placeholder="Lozinka" /><br />
        <input class="formInput" name="repeatPassword" type="password"
               placeholder="Ponovljena Lozinka" /><br />
        <div class="form-group">
            <select class="form-control" name="Uloga">
                <option value="Ucenik">Učenik</option>
                <option>Razrednik</option>
                <option>Profesor</option>
                <option>Administrator</option>
            </select>
        </div>
        <hr />
        <input class="formInput" name="Ime" type="text"
               placeholder="Ime" /><br />
        <input class="formInput" name="Prezime" type="text"
               placeholder="Prezime" /><br />
        <input class="formInput" name="DatumRodenja" type="text"
               placeholder="Datum rođenja" /><br />
        <input class="formInput" name="OIB" type="number"
               placeholder="OIB" min="0" /><br />
        <input class="formInput" name="Adresa" type="text"
               placeholder="Adresa" /><br />
        <input class="formInput" name="Mjesto" type="text"
               placeholder="Mjesto" /><br />
        <input class="formButton" type="submit" value="Registriraj" />
    </form>
</div>
